$breakpoints: (
    mobile: 768px,
    laptop: 1200px,
    desktop-lg: 1800px,
    $bp-4000: 250em,
    //  4000px
    $bp-2500: 156.25em,
    // 2500px
    $bp-1400: 87.5em,
    // 1400px
    $bp-1349: 84.3125em,
    // 1349px
    $bp-1300: 81.25em,
    // 1300px
    $bp-1200: 75em,
    // 1200px
    $bp-1100: 68.75em,
    // 1100px
    $bp-1000: 62.5em,
    // 1000px
    $bp-999: 62.4375em,
    // 999px
    $bp-800: 50em,
    // 800px;
    $bp-767: 47.9375em,
    // 767px;
    $bp-735: 46em,
    // 735px;
    $bp-700: 43.75em,
    // 735px;
    $bp-650: 40.625em,
    // 650px
    $bp-600: 37.5em,
    // 600px;
    $bp-585: 36.56em,
    // 585px
    $bp-500: 31.25em,
    // 500px;
    $bp-450: 28.125em,
    // 450px;
    $bp-414: 25.875em,
    // 450px;
    $bp-400: 25em,
    // 400px;
    $bp-375: 23.4375em,
    // 375px;
    $bp-350: 21.875em,
    // 350px;
);

@mixin mq($key) {
    $size: map-get($breakpoints, $key);

    @media only screen and (max-width: $size) {
        @content;
    }
}
@mixin mq-2($key, $key2) {
    $size: map-get($breakpoints, $key);
    $size2: map-get($breakpoints, $key2);

    @media only screen and (min-width: $size) and (max-width: $size2) {
        @content;
    }
}

@mixin responsive($breakpoint) {
    //- Phone
    @if $breakpoint==phone {
        //- 600px
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    //- Tablet-portrait mode
    @if $breakpoint==tablet-portrait {
        //- 900px
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    //- Tablet-landscape mode
    @if $breakpoint==tablet-landscape {
        //- 1200px
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    //- Big-desktop
    @if $breakpoint==big-desktop {
        //- 1800px
        @media only screen and (min-width: 141.3125em) {
            @content;
        }
    }
    @if $breakpoint==large-desktop {
        //- 1800px
        @media only screen and (min-width: 250em) {
            @content;
        }
    }
}
