//********** UTILITIES **********/

//----------------------------------------------------------------
//- Display
.flex {
    display: flex;

    .ai {
        &-center {
            align-items: center;
        }
    }
    .jc {
        &-center {
            justify-content: center;
        }
    }
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.m {
    &b-10 {
        margin-bottom: 10px;
    }
    &r-10 {
        margin-right: 10px;
    }
}

.p {
    &t {
        padding-top: 10px;
    }
}
